@{
}
<div style="display:flex; flex-direction: column; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <h1 class="mb-5" style="
     color: white;">
        Menu of admin's site
    </h1>
    <div class="mb-2 text-left" style="display:flex; flex-direction: column;">
        <a asp-controller="Admin" asp-action="AddNewFood" class="btn btn-primary mb-3">Add new product</a>
        <a asp-controller="Admin" asp-action="ShowAllFoods" class="btn btn-primary mb-3">Product list</a>
        <a asp-controller="Admin" asp-action="ShowAllOrders" class="btn btn-primary mb-3">Order list</a>
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-3">Create new category</a>
        <a asp-area="" asp-controller="Category" asp-action="Index" class="btn btn-primary mb-3">List of exists category</a>
        <a asp-area="" asp-controller="Roles" asp-action="Index" class="btn btn-primary mb-3">Role manegment</a>
    </div>
</div>


@* Client Validation *@
@section Scripts {
<script>

</script>
}