@{
    ViewData["Title"] = "Contacts";
}

<div style="margin-top: 100px">
    <h1 class="mb-5 font-weight-bold">Contacts</h1>

    <div class="cards" style="display:flex; flex-direction: row; gap: 30px;">
        <div class="card" style="width: 30rem; min-width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Dubenska str. 293</h4>
                <h5>Call us by phone number:</h5>
                <h6 class="card-subtitle mb-2 text-muted">(095) 216-48-70</h6>
                <h5>Call us by mail</h5>
                <h6 class="card-subtitle mb-2 text-muted">kaban-aleh.somee.com</h6>
                <p class="card-text">24/7</p>
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d614.846389343954!2d26.258442919382404!3d50.6187365015379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f134609e1331f%3A0x4b4b27390f364d81!2z0JrQvtC80L8n0Y7RgtC10YDQvdCwINCQ0LrQsNC00LXQvNGW0Y8g0KjQkNCT!5e0!3m2!1sru!2sua!4v1641627325133!5m2!1sru!2sua" width="1110" height="450" style="border:0;" allowfullscreen="true" loading="lazy" class="mt-5 mb-5"></iframe>
</div>
