@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="margin-top: 100px;">
    <h1 class="font-weight-bold mb-5">DELIVERY AND PAYMENT</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary mb-1">Замовлення на доставку можна зробити на сайті або за телефонами <span class="font-weight-bold">(067) 885-57-88, (095) 449-36-15.</span></li>
        <li class="list-group-item list-group-item-secondary mb-1">Мінімальна сума замовлення - <span class="font-weight-bold">0 грн.</span></li>
        <li class="list-group-item list-group-item-secondary mb-1">Вартість доставки по місту при замовленні до <span class="font-weight-bold">400 грн - 40 грн.</span></li>
        <li class="list-group-item list-group-item-secondary mb-1">При замовленні на суму від <span class="font-weight-bold">400 грн</span> - доставка по місту <span class="text-success">безкоштовна</span>.</li>
        <li class="list-group-item list-group-item-secondary mb-1">Оплата замовлення кур'єру по факту отримання доставки.</li>
    </ul>
</div>
